/* || Main stylesheet for SpoonieLiving.com || */

/* TODO: make notes and add to all stylesheets*/
/* TODO: Get class vs. id straight and make things consistent. Leave cheat sheet at the top of this document */

/* ****** General ****** */
h1, h2, h3, h4, h5, h6{
	color:#8C4646;

}

h1 a, h2 a, h3 a {
	color:#8C4646;
	text-decoration:none;
}

hr {
	border-color:#e8d7d7;
	background-color:#e8d7d7;
	color:#e8d7d7;
}

a {
	color:#8C4646;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
    color:#662626;
		text-decoration:none;
		font-weight:bold;
}

a:active {
	color:#662626;
	text-decoration:none;
	font-weight:bold;
}

a:visited {
    color:#662626;
		text-decoration:none;
		font-weight:bold;
}


/* ****** Site elements ****** */
.container{
	max-width:1000px;
}

.header {

}
			#header img{
				width:100%;
				margin-bottom:20px;
			}

.navbar {
	margin-left:10px;
	margin-right:10px;
}

			.nav-justified {
			   border-collapse:separate;
			}

			.navbar-collapse {
				padding-left:0px;
			}

			#menu-label {
				font-size:20px;
				margin-left:20px;
			}

			.nav-item, .dropdown {
				margin-left:10px;
			}

			.nav-item, .dropdown a, .nav-item a {
				font-size: 20px;
				color:#000000 !important;
			}

			.nav-item a:hover, .dropdown a:hover{
				color:#3B3B3B !important;
			}

			.dropdown-menu a {
				font-size: 15px;
			}

			#navigation ul {
				list-style:none;
			}

			#mobile-ad-banner-inline {
				padding-left:10px;
				padding-right:10px;
			}

			#section {
				padding-bottom:10px;
			}

			#posts {
				border:solid, 1px, #D1D1D1;
			}

			.image-text-li {
				padding-bottom:20px;
				clear:both;
			}

			.image-text-li img {
				padding-top:3px; /*fixes text/image visual offset*/
				padding-bottom:20px; /*in case image is taller than text*/
				margin-right:5px;
				margin-bottom:5px;
			}

#sidebar {

}

			#sidebar ul {
				list-style:none;
			}

			#sidebar li {
				display:inline;
			}

			.side-item ul{
				list-style:none;
				padding-left:0px;
			}

			.favicon img{
				width:35px;
				height:35px;
			}

			.share-list {
				list-style-type:none;
				margin:0px;
				padding:0px;
			}

			.share-list li {
				display:inline;
			}

			#medivizor_widget_eNuKDU78cC22TBaJLdo4 #medivizor_widget {
				 min-width: 220px !important;
				 max-width: 220px !important;
			 }

			.medivizor_logo {
				 padding-top:10px;
				 display:block;
			 }

#footer {
	text-align:center;
	font-style:italic;
	font-size:small;
}

.columns {
  column-count: 2;
}

.collapsible {
  background-color: #8C4646;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.active, .collapsible:hover {
  background-color: #662626;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.tag-header {
  font-size: 24px;
  color: #662626;
  text-decoration-line: underline;
  font-weight: bold;
}

#desktop-ad-banner-fixed {
  background:rgba(255,255,255,0.8);
	width:728px;
	height:110px;
  padding: 5px,10px,10px,10px;
	position: fixed;
	margin-left:auto;
	margin-right:auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 97;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

#mobile-ad-banner-fixed {
  background:rgba(255,255,255,0.8);
	width:350px;
	height:70px;
  padding: 5px,10px,10px,10px;
	position: fixed;
	margin-left:auto;
	margin-right:auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 97;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}


/* ****** Buttons ****** */
.navbar-toggle {
	margin-left:10px;
}

.email-btn {
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff !important;
  font-size: 17px !important;
  background: #B07171;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

	.email-btn-sm {
	  border-radius: 4px;
	  font-family: Arial;
	  color: #ffffff !important;
	  font-size: 12px !important;
	  background: #B07171;
	  padding: 5px 5px 5px 5px;
	  text-decoration: none;
		font-weight: normal !important;
	}

	.email-btn:hover, .email-btn-sm:hover {
	  background: #8C4646 !important;
		text-decoration:none;
	}

#scroll-top-btn {
	display:none;
  font-family: Arial;
  color: #ffffff !important;
  font-size: 17px !important;
  background: #B07171;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

	#scroll-top-btn:hover {
		background: #8C4646 !important;
		text-decoration:none;
	}

#hide-banner-btn {
	color:#B07171 !important;
	background:none;
	margin:-10px;
	position:fixed;
	bottom:108px;
	left:265px;
	z-index:98;
	border:none;
	border-radius:50%;
}

	#hide-banner-btn:hover {
		color:#8C4646 !important;
		text-decoration:none;
	}


/* ****** Tweaks ****** */

.noborder {
	border:none !important;
}

/* .pull-left with a nice margin */
.textwrap-image-left {
	float:left;
	margin:0px 10px 10px 0px;
}

/* .pull-right with a nice margin */
.textwrap-image-right {
	float:right;
	margin:0px 0px 10px 10px;
}

.margin-right-5 {
	margin-right:5px;
}

/* TODO: remove this class */
.image-right {
	float:left;
	width:39%;
}

/* TODO: remove this class */
.text-left {
	float:left;
	width:59%;
}

/* TODO: remove this class */
.fit-div {
	width:85%;
}
